body {
  /* size element to page */
  height: 100vh;
  padding: 0px;
  margin: 0px;

  background-color: rgb(35, 35, 35);
  font-family: 'Courier New', Courier, monospace;

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#calc-body {
  background-color: #fffffe;
  border: 3px solid black;
  border-radius: 1vh;
  padding: 2vh;
  min-height: 50vh;
  min-width: 30vh;
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

#display {
  background-color: #A8C64E;
  color: #3C412C;
  font-size: 3.3vh;
  height: 6.5vh;
  border: 3px solid black;
  border-radius: 1vh;
  padding: 0.2vh 0.8vh;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-row {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #fffffe;
  color: black;
  border: 3px solid black;
  border-radius: 5vh;
  width: 5vh;
  height: 5vh;
  font-size: 2vh;
  font-weight: 600;
}

button:hover {
  background-color: hwb(0 100% 30%);
}

.operator {
  background-color: #ff8906;
  font-size: 2.5vh;
}

.operator:hover {
  background-color: hwb(32 32% 0%);
}

.control {
  background-color: #f25f4c;
}

.control:hover {
  background-color: hwb(7 60% 5%);
}

#pos-neg {
  font-size: 2.5vh;
}

#equal {
  width: 13.3vh;
}

footer {
  padding: 1vh;
  background-color: rgb(55, 55, 55);
  color: rgb(25, 25, 25);
  width: calc(100vw - 2vh);
  text-align: center;
}